.DS_Store
.dropbox
*.out
Icon
dmrlink.cfg
rcm.cfg
stats.py
pub*
bridge_rules.py
confbridge_rules.py
playback_config.py
known_bridges.py
sub_acl.py
*.pyc
*.bak
*.lcl
*.conf
*.config
*.json
*.pickle
*.csv
