# DMRLink SAMPLE CONFIGURATION FILE
#
# Rename to dmrlink.cfg and add your information
# # GLOBAL CONFIGURATION ITEMS
#   There are no global options at this time
#
[GLOBAL]
PATH: /absolute/path/to/DMRlink


# STDOUT REPORTING CONFIG
#   Enabling "REPORT_PEERS" will cause a print-out of the peers in each
#   IPSC each time the periodic reporting loop runs. Likewise, the
#   additional features listed will cause that list to either include
#   or not include MODE and/or SERVICE FLAG details.
#
[REPORTS]
REPORT_PEERS: 1
PEER_REPORT_INC_MODE: 0
PEER_REPORT_INC_FLAGS: 0 


# SYSTEM LOGGER CONFIGURAITON
#   This allows the logger to be configured without chaning the individual
#   python logger stuff in dmrlink.py. LOG_FILE should be a complete
#   path/filename for *your* system. LOG_HANDERLS may be any of the
#   following, please, no spaces in the list if you use several:
#       console
#       console-timed
#       file
#       file-timed
#       syslog
#   LOG_LEVEL may be any of the standard syslog logging levels, though
#   as of now, DEBUG, INFO, WARNING and CRITICAL are the only ones
#   used.
#
[LOGGER]
LOG_FILE: /tmp/dmrlink.log
LOG_HANDLERS: console,file-timed
LOG_LEVEL: DEBUG


# CONFIGURATION FOR IPSC NETWORKS
# 
# [NAME]        The name you want to use to identify the IPSC instance (use
#               something better than "IPSC1"...)
# ENABLED:      Should we communiate with this network? Handy if you need to
#			    shut one down but don't want to lose the config
# RADIO_ID:     This is the radio ID that DMRLink should use to communicate
# PORT:         This is the UDP source port for DMRLink to use for this
#               IPSC network, must be unique!!!
# ALIVE_TIMER:  How many missed keep-alives before we remove a peer
# AUTH_ENABLED: Do we use authenticated IPSC?
# AUTH_KEY:     The Authentication key (up to 40 hex characters)
# MASTER_IP:    IP address of the IPSC master
# MASTER_PORT:  UDP port of the IPSC master
#
# ...Repeat the block for each IPSC network to join.
#
[IPSC1]
ENABLED: True
RADIO_ID: 1
PORT: 50000
ALIVE_TIMER: 5
TS1_LINK: True
TS2_LINK: True
AUTH_ENABLED: True
AUTH_KEY: 1
MASTER_IP: 1.2.3.4
MASTER_PORT: 50000

[IPSC2]
ENABLED: True
RADIO_ID: 2
PORT: 50001
ALIVE_TIMER: 5
TS1_LINK: True
TS2_LINK: True
AUTH_ENABLED: True
AUTH_KEY: 2
MASTER_IP: 5.6.7.8
MASTER_PORT: 50000