[Unit]
Description=DMRlink ambe audio Service
# Description=Place this file in /lib/systemd/system

[Service]
Type=simple
StandardOutput=null
WorkingDirectory=/opt/dmrlink/ambe_audio
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /opt/dmrlink/ambe_audio/ambe_audio.py
ExecReload=/bin/kill -2 $MAINPID
KillMode=process

[Install]
WantedBy=network-online.target

