[Unit]
Description=DMRlink IPSC_Bridge Service
# Place this file in /lib/systemd/system

[Service]
Type=simple
StandardOutput=null
WorkingDirectory=/opt/dmrlink/IPSC_Bridge
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /opt/dmrlink/IPSC_Bridge/IPSC_Bridge.py
ExecReload=/bin/kill -2 $MAINPID
KillMode=process

[Install]
WantedBy=network-online.target

